-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: db_klinik_kecantikan
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `access_token`
--

DROP TABLE IF EXISTS `access_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `access_token` (
  `id` int NOT NULL AUTO_INCREMENT,
  `token` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `user_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `expired` varchar(1) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0',
  `expires_at` datetime DEFAULT NULL,
  `datetime` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `access_token`
--

LOCK TABLES `access_token` WRITE;
/*!40000 ALTER TABLE `access_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `access_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log`
--

DROP TABLE IF EXISTS `log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tgl` date DEFAULT NULL,
  `controller` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `function` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `request` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `response` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `stack` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `user` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tz` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'UTC',
  `datetime` datetime DEFAULT NULL,
  `datetime_eng` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log`
--

LOCK TABLES `log` WRITE;
/*!40000 ALTER TABLE `log` DISABLE KEYS */;
/*!40000 ALTER TABLE `log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_perubahan`
--

DROP TABLE IF EXISTS `log_perubahan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_perubahan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `aksi` enum('CREATE','UPDATE','DELETE','RESTORE') CHARACTER SET armscii8 COLLATE armscii8_bin NOT NULL,
  `keterangan` varchar(255) NOT NULL,
  `nama_tabel` varchar(50) NOT NULL,
  `kode_referensi` varchar(36) CHARACTER SET armscii8 COLLATE armscii8_bin NOT NULL,
  `data_sebelum` json DEFAULT NULL,
  `data_sesudah` json DEFAULT NULL,
  `tz` varchar(50) DEFAULT 'UTC',
  `created_by` varchar(50) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `created_at_eng` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_log_perubahan_tabel_ref` (`nama_tabel`,`kode_referensi`),
  KEY `idx_log_perubahan_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_perubahan`
--

LOCK TABLES `log_perubahan` WRITE;
/*!40000 ALTER TABLE `log_perubahan` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_perubahan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_alat`
--

DROP TABLE IF EXISTS `mst_alat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_alat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_alat` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `merk` varchar(100) DEFAULT NULL,
  `tanggal_beli` date DEFAULT NULL,
  `kondisi` enum('baik','rusak_ringan','rusak_berat','maintenance') NOT NULL DEFAULT 'baik',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_alat` (`kode_alat`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_alat`
--

LOCK TABLES `mst_alat` WRITE;
/*!40000 ALTER TABLE `mst_alat` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_alat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_detail_paket_layanan`
--

DROP TABLE IF EXISTS `mst_detail_paket_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_detail_paket_layanan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_detail_paket_layanan` varchar(20) NOT NULL,
  `kode_paket_layanan` varchar(20) NOT NULL,
  `kode_layanan` varchar(20) NOT NULL,
  `jumlah_sesi` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_detail_paket_layanan` (`kode_detail_paket_layanan`),
  KEY `fk_detailpaketlyn_paket` (`kode_paket_layanan`),
  KEY `fk_detailpaketlyn_layanan` (`kode_layanan`),
  CONSTRAINT `fk_detailpaketlyn_layanan` FOREIGN KEY (`kode_layanan`) REFERENCES `mst_layanan` (`kode_layanan`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_detailpaketlyn_paket` FOREIGN KEY (`kode_paket_layanan`) REFERENCES `mst_paket_layanan` (`kode_paket_layanan`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_detail_paket_layanan`
--

LOCK TABLES `mst_detail_paket_layanan` WRITE;
/*!40000 ALTER TABLE `mst_detail_paket_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_detail_paket_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_detail_paket_produk`
--

DROP TABLE IF EXISTS `mst_detail_paket_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_detail_paket_produk` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_detail_paket_produk` varchar(20) NOT NULL,
  `kode_paket_produk` varchar(20) NOT NULL,
  `kode_produk` varchar(20) NOT NULL,
  `jumlah` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_detail_paket_produk` (`kode_detail_paket_produk`),
  KEY `fk_detailpaketprd_paket` (`kode_paket_produk`),
  KEY `fk_detailpaketprd_produk` (`kode_produk`),
  CONSTRAINT `fk_detailpaketprd_paket` FOREIGN KEY (`kode_paket_produk`) REFERENCES `mst_paket_produk` (`kode_paket_produk`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_detailpaketprd_produk` FOREIGN KEY (`kode_produk`) REFERENCES `mst_produk` (`kode_produk`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_detail_paket_produk`
--

LOCK TABLES `mst_detail_paket_produk` WRITE;
/*!40000 ALTER TABLE `mst_detail_paket_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_detail_paket_produk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_jadwal_karyawan`
--

DROP TABLE IF EXISTS `mst_jadwal_karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_jadwal_karyawan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_jadwal` varchar(20) NOT NULL,
  `no_sip` varchar(20) NOT NULL,
  `hari` enum('senin','selasa','rabu','kamis','jumat','sabtu','minggu') NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_selesai` time NOT NULL,
  `kuota` int NOT NULL DEFAULT '0',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_jadwal` (`kode_jadwal`),
  KEY `fk_jadwal_karyawan` (`no_sip`),
  CONSTRAINT `fk_jadwal_karyawan` FOREIGN KEY (`no_sip`) REFERENCES `mst_karyawan` (`no_sip`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_jadwal_karyawan`
--

LOCK TABLES `mst_jadwal_karyawan` WRITE;
/*!40000 ALTER TABLE `mst_jadwal_karyawan` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_jadwal_karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_karyawan`
--

DROP TABLE IF EXISTS `mst_karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_karyawan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `no_sip` varchar(20) NOT NULL,
  `kode_user` varchar(20) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `jabatan` enum('dokter','perawat','admin','kasir','apoteker','terapis') NOT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `tz` varchar(50) NOT NULL DEFAULT 'UTC',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_sip` (`no_sip`),
  KEY `fk_karyawan_user` (`kode_user`),
  CONSTRAINT `fk_karyawan_user` FOREIGN KEY (`kode_user`) REFERENCES `users` (`kode_user`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_karyawan`
--

LOCK TABLES `mst_karyawan` WRITE;
/*!40000 ALTER TABLE `mst_karyawan` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_kategori_layanan`
--

DROP TABLE IF EXISTS `mst_kategori_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_kategori_layanan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_kategori_layanan` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `deskripsi` varchar(255) DEFAULT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_kategori_layanan` (`kode_kategori_layanan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_kategori_layanan`
--

LOCK TABLES `mst_kategori_layanan` WRITE;
/*!40000 ALTER TABLE `mst_kategori_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_kategori_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_kategori_produk`
--

DROP TABLE IF EXISTS `mst_kategori_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_kategori_produk` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_kategori_produk` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `deskripsi` varchar(255) DEFAULT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_kategori_produk` (`kode_kategori_produk`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_kategori_produk`
--

LOCK TABLES `mst_kategori_produk` WRITE;
/*!40000 ALTER TABLE `mst_kategori_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_kategori_produk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_layanan`
--

DROP TABLE IF EXISTS `mst_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_layanan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_layanan` varchar(20) NOT NULL,
  `kode_kategori_layanan` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `harga` decimal(12,2) NOT NULL DEFAULT '0.00',
  `durasi_menit` int NOT NULL DEFAULT '30',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_layanan` (`kode_layanan`),
  KEY `fk_layanan_kategori` (`kode_kategori_layanan`),
  CONSTRAINT `fk_layanan_kategori` FOREIGN KEY (`kode_kategori_layanan`) REFERENCES `mst_kategori_layanan` (`kode_kategori_layanan`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_layanan`
--

LOCK TABLES `mst_layanan` WRITE;
/*!40000 ALTER TABLE `mst_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_master_navigation`
--

DROP TABLE IF EXISTS `mst_master_navigation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_master_navigation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_navigation` varchar(20) NOT NULL,
  `kode_parent` varchar(20) DEFAULT NULL,
  `nama_menu` varchar(100) NOT NULL,
  `url` varchar(150) DEFAULT NULL,
  `icon` varchar(50) DEFAULT NULL,
  `urutan` int NOT NULL DEFAULT '0',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_navigation` (`kode_navigation`),
  KEY `fk_nav_parent` (`kode_parent`),
  CONSTRAINT `fk_nav_parent` FOREIGN KEY (`kode_parent`) REFERENCES `mst_master_navigation` (`kode_navigation`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_master_navigation`
--

LOCK TABLES `mst_master_navigation` WRITE;
/*!40000 ALTER TABLE `mst_master_navigation` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_master_navigation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_navigation`
--

DROP TABLE IF EXISTS `mst_navigation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_navigation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `menu` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `role` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tz` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'UTC',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_navigation`
--

LOCK TABLES `mst_navigation` WRITE;
/*!40000 ALTER TABLE `mst_navigation` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_navigation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_paket_layanan`
--

DROP TABLE IF EXISTS `mst_paket_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_paket_layanan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_paket_layanan` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `harga_paket` decimal(12,2) NOT NULL DEFAULT '0.00',
  `masa_berlaku_hari` int NOT NULL DEFAULT '365',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_paket_layanan` (`kode_paket_layanan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_paket_layanan`
--

LOCK TABLES `mst_paket_layanan` WRITE;
/*!40000 ALTER TABLE `mst_paket_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_paket_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_paket_produk`
--

DROP TABLE IF EXISTS `mst_paket_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_paket_produk` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_paket_produk` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `harga_paket` decimal(12,2) NOT NULL DEFAULT '0.00',
  `masa_berlaku_hari` int NOT NULL DEFAULT '365',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_paket_produk` (`kode_paket_produk`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_paket_produk`
--

LOCK TABLES `mst_paket_produk` WRITE;
/*!40000 ALTER TABLE `mst_paket_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_paket_produk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_pasien`
--

DROP TABLE IF EXISTS `mst_pasien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_pasien` (
  `id` int NOT NULL AUTO_INCREMENT,
  `no_rm` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `nik` varchar(20) DEFAULT NULL,
  `tempat_lahir` varchar(50) DEFAULT NULL,
  `tanggal_lahir` date NOT NULL,
  `jenis_kelamin` enum('L','P') NOT NULL,
  `golongan_darah` enum('A','B','AB','O','-') DEFAULT NULL,
  `pekerjaan` varchar(50) DEFAULT NULL,
  `provinsi` varchar(50) DEFAULT NULL,
  `kota_kabupaten` varchar(50) DEFAULT NULL,
  `kecamatan` varchar(50) DEFAULT NULL,
  `kelurahan_desa` varchar(50) DEFAULT NULL,
  `rt` varchar(5) DEFAULT NULL,
  `rw` varchar(5) DEFAULT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  `kode_pos` varchar(10) DEFAULT NULL,
  `patokan` varchar(255) DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `nama_kontak_darurat` varchar(100) DEFAULT NULL,
  `no_hp_kontak_darurat` varchar(20) DEFAULT NULL,
  `hubungan_kontak_darurat` varchar(30) DEFAULT NULL,
  `alergi` text,
  `foto` varchar(255) DEFAULT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `tz` varchar(50) NOT NULL DEFAULT 'UTC',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_rm` (`no_rm`),
  UNIQUE KEY `nik` (`nik`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_pasien`
--

LOCK TABLES `mst_pasien` WRITE;
/*!40000 ALTER TABLE `mst_pasien` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_pasien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_produk`
--

DROP TABLE IF EXISTS `mst_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_produk` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_produk` varchar(20) NOT NULL,
  `kode_kategori_produk` varchar(20) NOT NULL,
  `kode_supplier` varchar(20) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `satuan` varchar(20) NOT NULL DEFAULT 'pcs',
  `harga_beli` decimal(12,2) NOT NULL DEFAULT '0.00',
  `harga_jual` decimal(12,2) NOT NULL DEFAULT '0.00',
  `stok_minimum` int NOT NULL DEFAULT '0',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_produk` (`kode_produk`),
  KEY `fk_produk_kategori` (`kode_kategori_produk`),
  KEY `fk_produk_supplier` (`kode_supplier`),
  CONSTRAINT `fk_produk_kategori` FOREIGN KEY (`kode_kategori_produk`) REFERENCES `mst_kategori_produk` (`kode_kategori_produk`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_produk_supplier` FOREIGN KEY (`kode_supplier`) REFERENCES `mst_supplier` (`kode_supplier`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_produk`
--

LOCK TABLES `mst_produk` WRITE;
/*!40000 ALTER TABLE `mst_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_produk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_promo`
--

DROP TABLE IF EXISTS `mst_promo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_promo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_promo` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `jenis_diskon` enum('persen','nominal') NOT NULL DEFAULT 'persen',
  `nilai_diskon` decimal(12,2) NOT NULL DEFAULT '0.00',
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_promo` (`kode_promo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_promo`
--

LOCK TABLES `mst_promo` WRITE;
/*!40000 ALTER TABLE `mst_promo` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_promo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mst_supplier`
--

DROP TABLE IF EXISTS `mst_supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mst_supplier` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_supplier` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_supplier` (`kode_supplier`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mst_supplier`
--

LOCK TABLES `mst_supplier` WRITE;
/*!40000 ALTER TABLE `mst_supplier` DISABLE KEYS */;
/*!40000 ALTER TABLE `mst_supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_antrian_awal`
--

DROP TABLE IF EXISTS `trx_antrian_awal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_antrian_awal` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_antrian_awal` varchar(20) NOT NULL,
  `kode_kunjungan` varchar(20) NOT NULL,
  `nomor_antrian` varchar(10) NOT NULL,
  `status` enum('tersedia','terpakai','dipanggil') NOT NULL DEFAULT 'tersedia',
  `diambil_at` timestamp NULL DEFAULT NULL,
  `dipanggil_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_antrian_awal` (`kode_antrian_awal`),
  KEY `fk_antrianawal_kunjungan` (`kode_kunjungan`),
  CONSTRAINT `fk_antrianawal_kunjungan` FOREIGN KEY (`kode_kunjungan`) REFERENCES `trx_kunjungan` (`kode_kunjungan`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_antrian_awal`
--

LOCK TABLES `trx_antrian_awal` WRITE;
/*!40000 ALTER TABLE `trx_antrian_awal` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_antrian_awal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_antrian_layanan`
--

DROP TABLE IF EXISTS `trx_antrian_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_antrian_layanan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_antrian_layanan` varchar(20) NOT NULL,
  `kode_kunjungan` varchar(20) NOT NULL,
  `kode_layanan` varchar(20) NOT NULL,
  `nomor_antrian` varchar(10) NOT NULL,
  `status` enum('menunggu','dipanggil','selesai','batal') NOT NULL DEFAULT 'menunggu',
  `dipanggil_at` timestamp NULL DEFAULT NULL,
  `selesai_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_antrian_layanan` (`kode_antrian_layanan`),
  KEY `fk_antrianlyn_kunjungan` (`kode_kunjungan`),
  KEY `fk_antrianlyn_layanan` (`kode_layanan`),
  CONSTRAINT `fk_antrianlyn_kunjungan` FOREIGN KEY (`kode_kunjungan`) REFERENCES `trx_kunjungan` (`kode_kunjungan`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_antrianlyn_layanan` FOREIGN KEY (`kode_layanan`) REFERENCES `mst_layanan` (`kode_layanan`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_antrian_layanan`
--

LOCK TABLES `trx_antrian_layanan` WRITE;
/*!40000 ALTER TABLE `trx_antrian_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_antrian_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_booking`
--

DROP TABLE IF EXISTS `trx_booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_booking` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_booking` varchar(20) NOT NULL,
  `no_rm` varchar(20) NOT NULL,
  `kode_layanan` varchar(20) NOT NULL,
  `no_sip` varchar(20) DEFAULT NULL,
  `tanggal_booking` date NOT NULL,
  `jam_booking` time NOT NULL,
  `status` enum('menunggu','dikonfirmasi','dibatalkan','selesai') NOT NULL DEFAULT 'menunggu',
  `tz` varchar(50) NOT NULL DEFAULT 'UTC',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_booking` (`kode_booking`),
  KEY `fk_booking_pasien` (`no_rm`),
  KEY `fk_booking_layanan` (`kode_layanan`),
  KEY `fk_booking_karyawan` (`no_sip`),
  CONSTRAINT `fk_booking_karyawan` FOREIGN KEY (`no_sip`) REFERENCES `mst_karyawan` (`no_sip`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_booking_layanan` FOREIGN KEY (`kode_layanan`) REFERENCES `mst_layanan` (`kode_layanan`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_booking_pasien` FOREIGN KEY (`no_rm`) REFERENCES `mst_pasien` (`no_rm`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_booking`
--

LOCK TABLES `trx_booking` WRITE;
/*!40000 ALTER TABLE `trx_booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_detail_kepemilikan_paket_layanan`
--

DROP TABLE IF EXISTS `trx_detail_kepemilikan_paket_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_detail_kepemilikan_paket_layanan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_detail_kepemilikan_paket_layanan` varchar(20) NOT NULL,
  `kode_kepemilikan_paket_layanan` varchar(20) NOT NULL,
  `kode_layanan` varchar(20) NOT NULL,
  `sesi_total` int NOT NULL DEFAULT '0',
  `sesi_terpakai` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_detail_kepemilikan_paket_layanan` (`kode_detail_kepemilikan_paket_layanan`),
  KEY `fk_detailkepemilikanlyn_induk` (`kode_kepemilikan_paket_layanan`),
  KEY `fk_detailkepemilikanlyn_layanan` (`kode_layanan`),
  CONSTRAINT `fk_detailkepemilikanlyn_induk` FOREIGN KEY (`kode_kepemilikan_paket_layanan`) REFERENCES `trx_kepemilikan_paket_layanan` (`kode_kepemilikan_paket_layanan`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_detailkepemilikanlyn_layanan` FOREIGN KEY (`kode_layanan`) REFERENCES `mst_layanan` (`kode_layanan`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_detail_kepemilikan_paket_layanan`
--

LOCK TABLES `trx_detail_kepemilikan_paket_layanan` WRITE;
/*!40000 ALTER TABLE `trx_detail_kepemilikan_paket_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_detail_kepemilikan_paket_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_detail_purchase_order`
--

DROP TABLE IF EXISTS `trx_detail_purchase_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_detail_purchase_order` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_detail_po` varchar(20) NOT NULL,
  `kode_po` varchar(20) NOT NULL,
  `kode_produk` varchar(20) NOT NULL,
  `qty` int NOT NULL DEFAULT '1',
  `harga_satuan` decimal(12,2) NOT NULL DEFAULT '0.00',
  `subtotal` decimal(12,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_detail_po` (`kode_detail_po`),
  KEY `fk_detailpo_po` (`kode_po`),
  KEY `fk_detailpo_produk` (`kode_produk`),
  CONSTRAINT `fk_detailpo_po` FOREIGN KEY (`kode_po`) REFERENCES `trx_purchase_order` (`kode_po`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_detailpo_produk` FOREIGN KEY (`kode_produk`) REFERENCES `mst_produk` (`kode_produk`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_detail_purchase_order`
--

LOCK TABLES `trx_detail_purchase_order` WRITE;
/*!40000 ALTER TABLE `trx_detail_purchase_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_detail_purchase_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_detail_transaksi`
--

DROP TABLE IF EXISTS `trx_detail_transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_detail_transaksi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_detail_transaksi` varchar(20) NOT NULL,
  `kode_transaksi` varchar(20) NOT NULL,
  `kode_layanan` varchar(20) DEFAULT NULL,
  `kode_produk` varchar(20) DEFAULT NULL,
  `qty` int NOT NULL DEFAULT '1',
  `harga_satuan` decimal(12,2) NOT NULL DEFAULT '0.00',
  `subtotal` decimal(12,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_detail_transaksi` (`kode_detail_transaksi`),
  KEY `fk_detailtrx_transaksi` (`kode_transaksi`),
  KEY `fk_detailtrx_layanan` (`kode_layanan`),
  KEY `fk_detailtrx_produk` (`kode_produk`),
  CONSTRAINT `fk_detailtrx_layanan` FOREIGN KEY (`kode_layanan`) REFERENCES `mst_layanan` (`kode_layanan`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_detailtrx_produk` FOREIGN KEY (`kode_produk`) REFERENCES `mst_produk` (`kode_produk`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_detailtrx_transaksi` FOREIGN KEY (`kode_transaksi`) REFERENCES `trx_transaksi` (`kode_transaksi`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_detail_transaksi`
--

LOCK TABLES `trx_detail_transaksi` WRITE;
/*!40000 ALTER TABLE `trx_detail_transaksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_detail_transaksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_kepemilikan_paket_layanan`
--

DROP TABLE IF EXISTS `trx_kepemilikan_paket_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_kepemilikan_paket_layanan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_kepemilikan_paket_layanan` varchar(20) NOT NULL,
  `no_rm` varchar(20) NOT NULL,
  `kode_paket_layanan` varchar(20) NOT NULL,
  `kode_transaksi` varchar(20) DEFAULT NULL,
  `tanggal_beli` date NOT NULL,
  `tanggal_expired` date NOT NULL,
  `status` enum('aktif','habis','expired') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_kepemilikan_paket_layanan` (`kode_kepemilikan_paket_layanan`),
  KEY `fk_kepemilikanlyn_pasien` (`no_rm`),
  KEY `fk_kepemilikanlyn_paket` (`kode_paket_layanan`),
  KEY `fk_kepemilikanlyn_transaksi` (`kode_transaksi`),
  CONSTRAINT `fk_kepemilikanlyn_paket` FOREIGN KEY (`kode_paket_layanan`) REFERENCES `mst_paket_layanan` (`kode_paket_layanan`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_kepemilikanlyn_pasien` FOREIGN KEY (`no_rm`) REFERENCES `mst_pasien` (`no_rm`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_kepemilikanlyn_transaksi` FOREIGN KEY (`kode_transaksi`) REFERENCES `trx_transaksi` (`kode_transaksi`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_kepemilikan_paket_layanan`
--

LOCK TABLES `trx_kepemilikan_paket_layanan` WRITE;
/*!40000 ALTER TABLE `trx_kepemilikan_paket_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_kepemilikan_paket_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_kepemilikan_paket_produk`
--

DROP TABLE IF EXISTS `trx_kepemilikan_paket_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_kepemilikan_paket_produk` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_kepemilikan_paket_produk` varchar(20) NOT NULL,
  `no_rm` varchar(20) NOT NULL,
  `kode_paket_produk` varchar(20) NOT NULL,
  `kode_transaksi` varchar(20) DEFAULT NULL,
  `tanggal_beli` date NOT NULL,
  `tanggal_expired` date NOT NULL,
  `status` enum('aktif','habis','expired') NOT NULL DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_kepemilikan_paket_produk` (`kode_kepemilikan_paket_produk`),
  KEY `fk_kepemilikanprd_pasien` (`no_rm`),
  KEY `fk_kepemilikanprd_paket` (`kode_paket_produk`),
  KEY `fk_kepemilikanprd_transaksi` (`kode_transaksi`),
  CONSTRAINT `fk_kepemilikanprd_paket` FOREIGN KEY (`kode_paket_produk`) REFERENCES `mst_paket_produk` (`kode_paket_produk`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_kepemilikanprd_pasien` FOREIGN KEY (`no_rm`) REFERENCES `mst_pasien` (`no_rm`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_kepemilikanprd_transaksi` FOREIGN KEY (`kode_transaksi`) REFERENCES `trx_transaksi` (`kode_transaksi`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_kepemilikan_paket_produk`
--

LOCK TABLES `trx_kepemilikan_paket_produk` WRITE;
/*!40000 ALTER TABLE `trx_kepemilikan_paket_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_kepemilikan_paket_produk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_kunjungan`
--

DROP TABLE IF EXISTS `trx_kunjungan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_kunjungan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_kunjungan` varchar(20) NOT NULL,
  `no_rm` varchar(20) NOT NULL,
  `kode_booking` varchar(20) DEFAULT NULL,
  `tanggal_kunjungan` date NOT NULL,
  `jam_datang` time NOT NULL,
  `status` enum('berlangsung','selesai','batal') NOT NULL DEFAULT 'berlangsung',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_kunjungan` (`kode_kunjungan`),
  KEY `fk_kunjungan_pasien` (`no_rm`),
  KEY `fk_kunjungan_booking` (`kode_booking`),
  CONSTRAINT `fk_kunjungan_booking` FOREIGN KEY (`kode_booking`) REFERENCES `trx_booking` (`kode_booking`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_kunjungan_pasien` FOREIGN KEY (`no_rm`) REFERENCES `mst_pasien` (`no_rm`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_kunjungan`
--

LOCK TABLES `trx_kunjungan` WRITE;
/*!40000 ALTER TABLE `trx_kunjungan` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_kunjungan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_maintenance_alat`
--

DROP TABLE IF EXISTS `trx_maintenance_alat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_maintenance_alat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_maintenance` varchar(20) NOT NULL,
  `kode_alat` varchar(20) NOT NULL,
  `tanggal_maintenance` date NOT NULL,
  `jenis` enum('rutin','perbaikan','kalibrasi') NOT NULL DEFAULT 'rutin',
  `biaya` decimal(12,2) NOT NULL DEFAULT '0.00',
  `keterangan` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_maintenance` (`kode_maintenance`),
  KEY `fk_maintenance_alat` (`kode_alat`),
  CONSTRAINT `fk_maintenance_alat` FOREIGN KEY (`kode_alat`) REFERENCES `mst_alat` (`kode_alat`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_maintenance_alat`
--

LOCK TABLES `trx_maintenance_alat` WRITE;
/*!40000 ALTER TABLE `trx_maintenance_alat` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_maintenance_alat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_pemakaian_paket_layanan`
--

DROP TABLE IF EXISTS `trx_pemakaian_paket_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_pemakaian_paket_layanan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_pemakaian_paket_layanan` varchar(20) NOT NULL,
  `kode_detail_kepemilikan_paket_layanan` varchar(20) NOT NULL,
  `kode_kunjungan` varchar(20) NOT NULL,
  `tanggal_pakai` date NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_pemakaian_paket_layanan` (`kode_pemakaian_paket_layanan`),
  KEY `fk_pemakaianlyn_detailkepemilikan` (`kode_detail_kepemilikan_paket_layanan`),
  KEY `fk_pemakaianlyn_kunjungan` (`kode_kunjungan`),
  CONSTRAINT `fk_pemakaianlyn_detailkepemilikan` FOREIGN KEY (`kode_detail_kepemilikan_paket_layanan`) REFERENCES `trx_detail_kepemilikan_paket_layanan` (`kode_detail_kepemilikan_paket_layanan`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pemakaianlyn_kunjungan` FOREIGN KEY (`kode_kunjungan`) REFERENCES `trx_kunjungan` (`kode_kunjungan`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_pemakaian_paket_layanan`
--

LOCK TABLES `trx_pemakaian_paket_layanan` WRITE;
/*!40000 ALTER TABLE `trx_pemakaian_paket_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_pemakaian_paket_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_pengambilan_paket_produk`
--

DROP TABLE IF EXISTS `trx_pengambilan_paket_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_pengambilan_paket_produk` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_pengambilan_paket_produk` varchar(20) NOT NULL,
  `kode_kepemilikan_paket_produk` varchar(20) NOT NULL,
  `kode_produk` varchar(20) NOT NULL,
  `qty_diambil` int NOT NULL DEFAULT '1',
  `tanggal_ambil` date NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_pengambilan_paket_produk` (`kode_pengambilan_paket_produk`),
  KEY `fk_pengambilanprd_kepemilikan` (`kode_kepemilikan_paket_produk`),
  KEY `fk_pengambilanprd_produk` (`kode_produk`),
  CONSTRAINT `fk_pengambilanprd_kepemilikan` FOREIGN KEY (`kode_kepemilikan_paket_produk`) REFERENCES `trx_kepemilikan_paket_produk` (`kode_kepemilikan_paket_produk`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pengambilanprd_produk` FOREIGN KEY (`kode_produk`) REFERENCES `mst_produk` (`kode_produk`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_pengambilan_paket_produk`
--

LOCK TABLES `trx_pengambilan_paket_produk` WRITE;
/*!40000 ALTER TABLE `trx_pengambilan_paket_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_pengambilan_paket_produk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_purchase_order`
--

DROP TABLE IF EXISTS `trx_purchase_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_purchase_order` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_po` varchar(20) NOT NULL,
  `kode_supplier` varchar(20) NOT NULL,
  `tanggal_po` date NOT NULL,
  `total_po` decimal(12,2) NOT NULL DEFAULT '0.00',
  `status` enum('draft','dikirim','diterima','batal') NOT NULL DEFAULT 'draft',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_po` (`kode_po`),
  KEY `fk_po_supplier` (`kode_supplier`),
  CONSTRAINT `fk_po_supplier` FOREIGN KEY (`kode_supplier`) REFERENCES `mst_supplier` (`kode_supplier`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_purchase_order`
--

LOCK TABLES `trx_purchase_order` WRITE;
/*!40000 ALTER TABLE `trx_purchase_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_purchase_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_rekam_medis`
--

DROP TABLE IF EXISTS `trx_rekam_medis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_rekam_medis` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_rekam_medis` varchar(20) NOT NULL,
  `kode_kunjungan` varchar(20) NOT NULL,
  `no_rm` varchar(20) NOT NULL,
  `no_sip` varchar(20) NOT NULL,
  `keluhan` text,
  `diagnosa` text,
  `tindakan` text,
  `catatan` text,
  `tz` varchar(50) NOT NULL DEFAULT 'UTC',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_rekam_medis` (`kode_rekam_medis`),
  KEY `fk_rekammedis_kunjungan` (`kode_kunjungan`),
  KEY `fk_rekammedis_pasien` (`no_rm`),
  KEY `fk_rekammedis_karyawan` (`no_sip`),
  CONSTRAINT `fk_rekammedis_karyawan` FOREIGN KEY (`no_sip`) REFERENCES `mst_karyawan` (`no_sip`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_rekammedis_kunjungan` FOREIGN KEY (`kode_kunjungan`) REFERENCES `trx_kunjungan` (`kode_kunjungan`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_rekammedis_pasien` FOREIGN KEY (`no_rm`) REFERENCES `mst_pasien` (`no_rm`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_rekam_medis`
--

LOCK TABLES `trx_rekam_medis` WRITE;
/*!40000 ALTER TABLE `trx_rekam_medis` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_rekam_medis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_riwayat_treatment`
--

DROP TABLE IF EXISTS `trx_riwayat_treatment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_riwayat_treatment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_riwayat_treatment` varchar(20) NOT NULL,
  `no_rm` varchar(20) NOT NULL,
  `kode_layanan` varchar(20) NOT NULL,
  `kode_rekam_medis` varchar(20) DEFAULT NULL,
  `tanggal_treatment` date NOT NULL,
  `hasil` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_riwayat_treatment` (`kode_riwayat_treatment`),
  KEY `fk_riwayattrt_pasien` (`no_rm`),
  KEY `fk_riwayattrt_layanan` (`kode_layanan`),
  KEY `fk_riwayattrt_rekammedis` (`kode_rekam_medis`),
  CONSTRAINT `fk_riwayattrt_layanan` FOREIGN KEY (`kode_layanan`) REFERENCES `mst_layanan` (`kode_layanan`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_riwayattrt_pasien` FOREIGN KEY (`no_rm`) REFERENCES `mst_pasien` (`no_rm`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_riwayattrt_rekammedis` FOREIGN KEY (`kode_rekam_medis`) REFERENCES `trx_rekam_medis` (`kode_rekam_medis`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_riwayat_treatment`
--

LOCK TABLES `trx_riwayat_treatment` WRITE;
/*!40000 ALTER TABLE `trx_riwayat_treatment` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_riwayat_treatment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_stok_movement`
--

DROP TABLE IF EXISTS `trx_stok_movement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_stok_movement` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_stok_movement` varchar(20) NOT NULL,
  `kode_produk` varchar(20) NOT NULL,
  `jenis_movement` enum('masuk','keluar','penyesuaian') NOT NULL,
  `referensi` varchar(20) DEFAULT NULL COMMENT 'kode_po / kode_transaksi / kode_pengambilan_paket_produk',
  `qty` int NOT NULL,
  `stok_sebelum` int NOT NULL DEFAULT '0',
  `stok_sesudah` int NOT NULL DEFAULT '0',
  `tanggal` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_stok_movement` (`kode_stok_movement`),
  KEY `fk_stokmovement_produk` (`kode_produk`),
  CONSTRAINT `fk_stokmovement_produk` FOREIGN KEY (`kode_produk`) REFERENCES `mst_produk` (`kode_produk`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_stok_movement`
--

LOCK TABLES `trx_stok_movement` WRITE;
/*!40000 ALTER TABLE `trx_stok_movement` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_stok_movement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trx_transaksi`
--

DROP TABLE IF EXISTS `trx_transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trx_transaksi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_transaksi` varchar(20) NOT NULL,
  `kode_kunjungan` varchar(20) DEFAULT NULL,
  `no_rm` varchar(20) NOT NULL,
  `kode_promo` varchar(20) DEFAULT NULL,
  `tanggal_transaksi` date NOT NULL,
  `total_harga` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total_diskon` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total_bayar` decimal(12,2) NOT NULL DEFAULT '0.00',
  `metode_bayar` enum('tunai','debit','kredit','qris','transfer') NOT NULL DEFAULT 'tunai',
  `status` enum('draft','lunas','batal') NOT NULL DEFAULT 'draft',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_transaksi` (`kode_transaksi`),
  KEY `fk_transaksi_kunjungan` (`kode_kunjungan`),
  KEY `fk_transaksi_pasien` (`no_rm`),
  KEY `fk_transaksi_promo` (`kode_promo`),
  CONSTRAINT `fk_transaksi_kunjungan` FOREIGN KEY (`kode_kunjungan`) REFERENCES `trx_kunjungan` (`kode_kunjungan`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_transaksi_pasien` FOREIGN KEY (`no_rm`) REFERENCES `mst_pasien` (`no_rm`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_transaksi_promo` FOREIGN KEY (`kode_promo`) REFERENCES `mst_promo` (`kode_promo`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trx_transaksi`
--

LOCK TABLES `trx_transaksi` WRITE;
/*!40000 ALTER TABLE `trx_transaksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `trx_transaksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_credential`
--

DROP TABLE IF EXISTS `user_credential`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_credential` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_code` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `username` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fullname` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telp` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` enum('0','1') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0',
  `tz` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'UTC',
  `created_at` datetime DEFAULT NULL,
  `created_by` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_by` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_credential`
--

LOCK TABLES `user_credential` WRITE;
/*!40000 ALTER TABLE `user_credential` DISABLE KEYS */;
INSERT INTO `user_credential` VALUES (1,'USR000000','superadmin@admin.com','Superadmin','08100000000','superadmin','5e7bd870d5c8563803be2973dd4403ef50c918d3b728f22787c9514d0f379f94d7f6bbb7e8b0a8cc338a6a18bd399aa8e5888a28b5f91452ad55fd6e2cf0b58c','1','UTC','2026-08-20 15:33:39',NULL,NULL,'2026-08-20 15:33:39');
/*!40000 ALTER TABLE `user_credential` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_navigation`
--

DROP TABLE IF EXISTS `user_navigation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_navigation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `menu` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `tz` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'UTC',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uq_user_navigation_uniqueid` (`user_code`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_navigation`
--

LOCK TABLES `user_navigation` WRITE;
/*!40000 ALTER TABLE `user_navigation` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_navigation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode_user` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `role` enum('admin','dokter','kasir','apoteker','owner') NOT NULL DEFAULT 'admin',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `tz` varchar(50) NOT NULL DEFAULT 'UTC',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_user` (`kode_user`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'USR000000','Superadmin','superadmin@admin.com','admin','aktif','UTC','2026-08-20 07:57:20','2026-08-20 07:57:20');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-20 15:33:44
